.full-text-wrapper
  {
    position: fixed;
    overflow: scroll;
    height: calc(100% - 125px);
    left: 16%;
    width: 84%;
    margin-bottom: 100px;
  }
#hide-full-text {
}

#text-tool-bar{
  padding: 5px;
  position: fixed;
  display: flex;
  justify-content: center;
  background-color: lighten($theme-color, 30%);
  color: $theme-color;
  width: 100%;
}
#text{
  padding: 3%;
}


tei-ref {
  text-decoration: none;
}

tei-bibl {
  display: inline;
  color: #5f0000;
}
tei-bibl::before {
  content: "(";
}
tei-bibl::after {
  content: ")";
}


tei-quote::before {
  content: open-quote;
}
tei-quote::after {
  content: close-quote;
}
