.search{

}
#clearFilter, #runQuery {
  height: 2.4375rem;
padding: 0.5rem;
border: 1px solid #cacaca;
margin: 0 0 1rem;
font-size: 1rem;
font-family: inherit;
line-height: normal;
color: #0a0a0a;
background-color: #fefefe;
border-radius: 0;
-webkit-appearance: none;
-moz-appearance: none;
width: 100%;
background-size: 9px 6px;
background-position: right center;
background-origin: content-box;
background-repeat: no-repeat;
}
