.chart {
  position: absolute;
  top: 0;
  left: 16%;
  width: 84%;
  padding: 1%
  //background-color: blue;
  //opacity: .5;
}

.images {
  position: absolute;
  top: 0;
  left: 16%;
  width: 57%;


}
