
.quotation{
  align-items: center;
  display: flex;
  cursor: pointer;
  padding: 1rem;
  transition: background .3s ease;

  p, input {
    margin: 0;
  }


  &:hover{
    background: #f0f0f0;
  }
}
.focused {
  background: $light-color;
}

.isNotInstance{
  border-left: 1px solid black;
}

.wrapper{

}
.column1, .column2, .column3, .column4{
  position: fixed;
  overflow: scroll;
  height: 80%;
  margin-bottom: 100px;
  padding: 1%;
  //border: .5px solid $light-color;

}
.column1{
  width: 20%;
  left: 5%;
}
.column2 {
  width:20%;
  left: 27%;
}
.column3{
  width: 20%;
  left: 49%;

}
.column4{
  width: 24%;
  left: 71%;
}
