
.quotation{
  align-items: left;
  //display: flex;
  cursor: pointer;
  padding: 0.2rem;
  transition: background .3s ease;
  line-height: 1.5;
  margin-bottom: 0;

  p, input {
    margin: 0;
    font-size: inherit;
    line-height: 1.5;
    margin-bottom: 0;
    text-rendering: optimizeLegibility;
    }


  &:hover{
    background: #f0f0f0;
  }
}
.focused {
  background: $light-color;
}

.isNotInstance{
  border-left: 1px solid black;
}

.wrapper{
  position: relative;

}
.column1, .column2, .column3, .column4, .column5{
  position: fixed;
  overflow: scroll;
  height: calc(100% - 120px);
  margin-bottom: 100px;
  padding: 1%;
  //border: .5px solid $light-color;
  border-right: solid .25rem lighten($theme-color, 20%);
  background-color: white;

}
.column1{
  width: 16%;
  left: 0%;
  //border-right: 1px solid gray;


}
.column2 {
  width:21%;
  left: 16%;

}
.column3{
  width: 21%;
  left: 37%;


}
.column4{
  width: 21%;
  left: 58%;

}
.column5{
  width: 21%;
  left: 79%;

}

.quotation-citation{
  display: block;
  font-size: 10px;
}
.quotation-wrapper{
  padding: 0.2rem;
  margin: 0;
}
